.experience-wrap {
.experience {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;

    &__header {
        color:#B7463E;
        display: flex;
        align-items: center;

        img {
            width: 200px;
        }

        h3 {
        font-size: xxx-large;
        }
    }

    &__body{
        // border: 1px solid red;
        display: flex;
        width: 100%;
    .menu {
        padding: 15px;
        flex-basis: 400px;
        cursor: pointer;
        ul {
            margin-left: 0;
            li {
                list-style: none;
            }
        }
    }

    .content {
        padding: 15px;
        width: 100%;
        .tmplExperience {
            &__role {
                margin-top: 0;
                margin-bottom: 0;
                color: #1b3803;
            }
            &__company {
                margin-bottom: 0;
                background-color: rgba(220, 223, 17, 0.37);
                width: fit-content;
                padding: 1px 5px;
                font-size: medium;
                color: #1b3803;
                border-radius: 2px;
                letter-spacing: 2px;
            }
            &__periode{
                font-size: smaller;
                letter-spacing: 2px;
            }
            &__list {
                margin-top: 15px;
                list-style: none;
            }
        }
        
    } 
}
}
}