.experience-wrap {
    margin-top: 50px;
    background-color: #ffc665;

    .topExpBg {
        transform: rotate(180deg);
    }
.experience {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;

    &__header {
        color:#B7463E;
        display: flex;
        align-items: center;
        padding-top: 20px;
        

        img {
            width: 200px;
        }

        h3 {
        font-size: xx-large;
        width: 212px;
        }
    }

    &__body{
        // border: 1px solid red;
        display: flex;
        width: 100%;
        
    .menu {
        padding: 15px;
        flex-basis: 400px;
        cursor: pointer;
        ul {
            margin-left: 0;
            li {
                list-style: none;
                color: #1b3803;
                padding: 2px 4px;
                font-weight: 600;
                &:hover {
                    background-color: rgba(220, 223, 17, 0.37);
                    border-left: 2px solid darkgreen;
                }
            }
        }
    }

    .content {
        padding: 15px;
        width: 100%;
        .tmplExperience {
            &__role {
                margin-top: 0;
                margin-bottom: 0;
                color: #1b3803;
            }
            &__company {
                margin-bottom: 0;
                background-color: rgba(220, 223, 17, 0.37);
                width: fit-content;
                padding: 1px 5px;
                font-size: medium;
                color: #1b3803;
                border-radius: 2px;
                letter-spacing: 2px;
            }
            &__periode{
                font-size: smaller;
                letter-spacing: 2px;
            }
            &__list {
                margin-top: 15px;
                list-style: none;
                color: #191818;
            }
        }
        
    } 
}
}
}