header {
    min-height: 800px;
   
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    nav {
        ul {
            li {
                display: inline-block;
                padding-left: 15px;
            }
        }
    }

    .cnt-social-media{
        
    }
}

.container-fluid {
    //background-color: red;
    background:  url("../../static/images/header2.svg") repeat-x;
    background-size: contain;
    height: 75vh;
    border: solid red 1px;
    background-color: #f4c330d0;
}

/* fa-codepen */