header {
    height: 85vh;
    //width: 100vw;
    background: url("../../static/images/header-mr3.svg") top center no-repeat; //coverbase5 cheese #BD5B1A
    background-size: cover;
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // clip-path: polygon(100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0 0);

    .navbar{
        background-color: #1b3803; // #bd5b1ab2
        height: 50px;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        max-width: 1300px;
        margin: auto;
        color: #e9e5ba;
        
        ul {
            li {
                display: inline-block;
                padding-left: 15px;
            }
        }

        .logo-header {
            img {
                border-bottom: 10px solid #1b3803;
                border-left: 2px solid #1b3803;
                height: 40px;
                box-sizing: content-box;
                border-radius: 10px;
                background-color: #1b3803;
            }
        }

    }
}

    .my-bio-container {
        display: flex;
        height: 100%;
        .my-bio {  
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #1b3803;
            h3 {
                margin: 0;
                font-size: 50px;
                font-weight: bolder;
                text-shadow: 2px 2px 3px #ffc25b;
            }
            p {
                margin: 0;
                font-weight: 700;
            }

            &--role {
             font-weight: 700;
             letter-spacing: 3.1px;
             background-color: #fef06973;
             border-left: 2px solid #fef06973;
             box-sizing: content-box;
            }
        }
    }

}

/*
linear-gradient(to right bottom, rgba(220, 223, 17, 0.37), rgba(5, 150, 17, 0.541))  , 
*/