header {
    height: 500px;
    width: 100vw;
    // background-color: $bg-header;
    background:  url("../../static/images/header2.svg") no-repeat top center;
    background-size: cover;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    nav {
        ul {
            li {
                display: inline-block;
                padding-left: 15px;
            }
        }
    }

    .cnt-social-media{
        
    }
}


/* fa-codepen */