.navbar{
    background-color: #1b3803; // #bd5b1ab2
    height: 50px;
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    max-width: 1300px;
    margin: auto;
    color: #e9e5ba;
    
    ul {
        li {
            display: inline-block;
            padding-left: 15px;
        }
    }

    .logo-header {
        img {
            border-bottom: 10px solid #1b3803;
            border-left: 2px solid #1b3803;
            height: 40px;
            box-sizing: content-box;
            border-radius: 10px;
            background-color: #1b3803;
        }
    }

}
}