.navigation {

    & img {
        margin-top: 1rem;
        background-color: #b7463e;
        margin-left: 1rem;
        /* border: 1px solid #ffd58e; */
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__bg {
        //transform: scale(100);
       width: 500px;
       padding-right: 1.5rem;
    }

    &__checkbox:checked ~ &__menu {
        //position: relative;
        width: 500px;
        height: 2rem;
        opacity: 1;
        // margin-right: 1.5rem;
        border: 3px solid #b7463e;
        border-radius: 5px;
        color: white;
        // right: 0;
    }

    &__checkbox:not(:checked) ~ &__label {
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #b7463e;
        z-index: 2000;

        box-shadow: 0 1rem 3rem rgba(black, .1);
        text-align: center;
        cursor: pointer;

        transition: all .8s;
    }

    &__checkbox:checked ~ &__label {
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        // background-color:#fb7d00;
        background-image:  radial-gradient(closest-side, #b7463e, #f69d3c, #fb7d00);
        z-index: 2000;

        box-shadow: 0 1rem 3rem rgba(black, .1);
        text-align: center;
        cursor: pointer;
    }

    &__icon {
        position: relative;
        margin-top: 1.4rem;
        text-align: center;
        left: -.2rem;

        &,
        &::before,
        &::after {
            width: 1.8rem;
            height: 2px;
            background-color: white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            // left: 0rem;
            transition: all .2s;
        }

        &::before { top: .6rem;left: .3rem;}
        &::after { top: -.6em; left: .3rem;}
    }

    &__checkbox:not(:checked) + &__label:hover &__icon::before,
    &__checkbox:not(:checked) + &__label:hover &__icon::after {
        left: 0rem;
    }

    &__checkbox:not(:checked) + &__label:hover &__icon {
        left: 0rem;
    }


    &__checkbox:checked + &__label &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__label &__icon::after {
        top: 0;
        // left: .3rem;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__label &__icon::before{
        top: 0;
        // left: .3rem;
        transform: rotate(-135deg);        
    }
    

    &__bg {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
        // background-image: radial-gradient(closest-side,#ffa207, #fb850f, #ffc665 );
        background-color: #fb7d00db;
        z-index: 1000;

        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__menu {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        
        z-index: 1500;

        opacity: 0;
        width: 0;

        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        display: inline-flex;
        list-style: none;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        list-style: none;
        text-align: left; 
        width: max-content;  
        position: absolute;
        right: 2.5rem;
        align-items: center;
        margin-top: 2px;
        transition: all .2s;
    }


    &__item {
        margin-right: .6rem;
        
        a {
            background: none;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
        }
    }

}