.projects {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding: 15px;

    .project {
        display: flex;
        flex-direction: row;
    }
}