.projects-wrap {
.projects {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding: 15px;

    &__body {

    .projetTmpl {
        display: flex;
        // flex-wrap: wrap;
        &__pic {
            min-width: 50%;
        }
    } 
    }

}
}