.wrap-writing {
    // background: url("../../static/images/w.svg") top center no-repeat; //coverbase5 cheese #BD5B1A
    // background-size: cover;
    // //max-height: 200px;
    // border: 2px solid red;
}

.top-bg-writing {
    background: url("../../static/images/w.svg") top center no-repeat; //coverbase5 cheese #BD5B1A
    background-size: cover;
    min-height: 200px;
    max-height: 200px;
}

.writing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    color: black;
    flex-wrap: wrap;
}

.post-content {
    display: flex;
    flex-direction: column;
    // background-color: #E2E2E2;
    margin: 10px;
    flex-basis: 300px;
}

.post-pic {
    min-height: 300px;
    box-sizing: border-box;
    position: relative;

    img {
    display: block;
    border-bottom: 1px solid #ff000000;
    border-left: 1px solid #ff000000;
    border-right: 1px solid #ff000000;
    border-radius: 10px;
}
}

.card__svg {
    position: absolute;
    bottom: 0;
}

.post-body {
    border: 1px solid rgb(0, 9, 128);
    margin:10px;
    background-color: #E2E2E2;
}

.post-info{
    background-color: #E2E2E2;
    padding: 0 8px 0 8px;

    &-title {
        color: #BD5B1A;
        font-weight: bolder;
    }
}