/*
 rgb(175, 41, 41);
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  color: "#4D5362"; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red; }

.svg8 {
  border: 10px solid green; }

header {
  background: url("../../static/images/header-mr-sf.svg") top center no-repeat;
  background-size: cover;
  position: relative; }
  header .my-bio-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    header .my-bio-container .my-bio {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #1b3803; }
      header .my-bio-container .my-bio h3 {
        margin: 0;
        font-size: 50px;
        font-weight: bolder;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #ffffff;
        text-shadow: 5px 5px #1b3803, 5px 10px #feeb5b; }
      header .my-bio-container .my-bio p {
        margin: 0;
        font-weight: 700; }
      header .my-bio-container .my-bio--role {
        font-weight: 700;
        letter-spacing: 3.1px;
        background-color: #fef06973;
        border-left: 2px solid #fef06973;
        box-sizing: content-box; }

/*
linear-gradient(to right bottom, rgba(220, 223, 17, 0.37), rgba(5, 150, 17, 0.541))  , 
*/
.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__bg {
  width: 500px;
  padding-right: 1.5rem; }

.navigation__checkbox:checked ~ .navigation__menu {
  width: 500px;
  height: 2rem;
  opacity: 1;
  border: 3px solid #b7463e;
  border-radius: 5px;
  color: white; }

.navigation__label {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #b7463e;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__icon {
  position: relative;
  margin-top: 1.4rem;
  text-align: center;
  left: -.2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 1.8rem;
    height: 2px;
    background-color: white;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    transition: all .2s; }
  .navigation__icon::before {
    top: .6rem;
    left: .3rem; }
  .navigation__icon::after {
    top: -.6em;
    left: .3rem; }

.navigation__checkbox:not(:checked) ~ .navigation__label:hover .navigation__icon::before, .navigation__label:hover .navigation__icon::after {
  left: 0rem; }

.navigation__label:hover .navigation__icon {
  left: 0rem; }

.navigation__checkbox:checked + .navigation__label .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__label .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__label .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.navigation__bg {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: #fb7d00db;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__menu {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  display: inline-flex;
  list-style: none;
  list-style: none;
  text-align: left;
  width: max-content;
  position: absolute;
  right: 2.5rem;
  align-items: center;
  margin-top: 2px;
  transition: all .2s; }

.navigation__item {
  margin-right: .6rem; }
  .navigation__item a {
    background: none; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none; }

.wrap-writing {
  margin-top: 50px; }

.top-bg-writing {
  background: url("../../static/images/w.svg") top center no-repeat;
  background-size: cover;
  min-height: 200px;
  max-height: 200px; }

.writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  color: black; }
  .writing__header {
    color: #B7463E;
    display: flex;
    align-items: center;
    padding-top: 20px; }
    .writing__header img {
      width: 200px; }
    .writing__header h3 {
      font-size: xx-large;
      width: 212px; }
  .writing__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    color: black;
    flex-wrap: wrap; }

.post-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex-basis: 300px;
  border-left: 5px solid #ffa207;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; }

.post-pic {
  min-height: 300px;
  box-sizing: border-box;
  position: relative; }
  .post-pic img {
    display: block;
    border-bottom: 1px solid #ff000000;
    border-left: 1px solid #ff000000;
    border-right: 1px solid #ff000000;
    border-radius: 10px; }

.card__svg {
  position: absolute;
  bottom: 0; }

.post-body {
  border: 1px solid #000980;
  margin: 10px;
  background-color: #fff; }

.post-info {
  background-color: #fff;
  padding: 0 8px 0 8px; }
  .post-info-title {
    color: #BD5B1A;
    font-weight: bolder; }

.experience-wrap {
  margin-top: 50px;
  background-color: #ffc665; }
  .experience-wrap .topExpBg {
    transform: rotate(180deg); }
  .experience-wrap .experience {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .experience-wrap .experience__header {
      color: #B7463E;
      display: flex;
      align-items: center;
      padding-top: 20px; }
      .experience-wrap .experience__header img {
        width: 200px; }
      .experience-wrap .experience__header h3 {
        font-size: xx-large;
        width: 212px; }
    .experience-wrap .experience__body {
      display: flex;
      width: 100%; }
      .experience-wrap .experience__body .menu {
        padding: 15px;
        flex-basis: 400px;
        cursor: pointer; }
        .experience-wrap .experience__body .menu ul {
          margin-left: 0; }
          .experience-wrap .experience__body .menu ul li {
            list-style: none;
            color: #1b3803;
            padding: 2px 4px;
            font-weight: 600; }
            .experience-wrap .experience__body .menu ul li:hover {
              background-color: rgba(220, 223, 17, 0.37);
              border-left: 2px solid darkgreen; }
      .experience-wrap .experience__body .content {
        padding: 15px;
        width: 100%; }
        .experience-wrap .experience__body .content .tmplExperience__role {
          margin-top: 0;
          margin-bottom: 0;
          color: #1b3803; }
        .experience-wrap .experience__body .content .tmplExperience__company {
          margin-bottom: 0;
          background-color: rgba(220, 223, 17, 0.37);
          width: fit-content;
          padding: 1px 5px;
          font-size: medium;
          color: #1b3803;
          border-radius: 2px;
          letter-spacing: 2px; }
        .experience-wrap .experience__body .content .tmplExperience__periode {
          font-size: smaller;
          letter-spacing: 2px; }
        .experience-wrap .experience__body .content .tmplExperience__list {
          margin-top: 15px;
          list-style: none;
          color: #191818; }

.projects-wrap {
  margin-top: 50px; }
  .projects-wrap .projects {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .projects-wrap .projects__header {
      color: #B7463E;
      display: flex;
      align-items: center;
      padding-top: 20px; }
      .projects-wrap .projects__header img {
        width: 200px; }
      .projects-wrap .projects__header h3 {
        font-size: xx-large;
        width: 212px; }
    .projects-wrap .projects__body {
      display: flex;
      align-items: center;
      background: gold; }
      .projects-wrap .projects__body .iconSlider {
        cursor: pointer;
        padding: 0 3px;
        box-sizing: content-box; }
      .projects-wrap .projects__body .mnticCls {
        opacity: 1;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19); }
      .projects-wrap .projects__body .irbehCls {
        opacity: 1;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19); }
      .projects-wrap .projects__body .projetTmpl {
        display: flex;
        padding: 0 60px;
        background: #ECF0F1;
        color: #191818;
        border: 1px gold solid; }
        @media screen and (max-width: 700px) {
          .projects-wrap .projects__body .projetTmpl {
            flex-wrap: wrap; } }
        .projects-wrap .projects__body .projetTmpl a {
          color: inherit;
          text-decoration: none;
          background-image: none; }
        .projects-wrap .projects__body .projetTmpl__pic {
          min-width: 50%;
          padding-top: 40px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .projects-wrap .projects__body .projetTmpl__description h3 {
          color: #1b3803; }

@keyframes moveInLeft {
  0% {
    opacity: 0; }
  40% {
    opacity: 0.4; }
  80% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0; }
  40% {
    opacity: 0.4; }
  80% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

footer {
  background-image: url("../../static/images/footerBg.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 50px; }
  footer .footer-right-div {
    display: flex;
    align-items: center; }
    footer .footer-right-div .follow-me svg {
      padding: 3px;
      color: antiquewhite; }
  footer .contact-me {
    flex-basis: 500px; }
    footer .contact-me__form {
      display: flex;
      flex-direction: column;
      margin: 0; }
    footer .contact-me .contact-form {
      background: #ffbe51a8;
      padding: 25px;
      margin: 50px 0;
      border-radius: 30px; }
      footer .contact-me .contact-form h3 {
        color: #BD5B1A;
        display: block;
        font-size: 30px;
        font-weight: 400;
        margin-top: 0px; }
      footer .contact-me .contact-form h4 {
        display: block;
        font-size: 13px; }
      footer .contact-me .contact-form fieldset {
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%; }
      footer .contact-me .contact-form input[type="text"], footer .contact-me .contact-form input[type="email"], footer .contact-me .contact-form textarea {
        width: 100%;
        border: 1px solid #CCC;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px; }
      footer .contact-me .contact-form button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #bd5b1a;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px; }
