/*
 rgb(175, 41, 41);
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  color: "#4D5362"; }

header {
  min-height: 800px;
  background: url("../../static/images/header2.svg") no-repeat top center;
  background-size: cover;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  header nav ul li {
    display: inline-block;
    padding-left: 15px; }

/* fa-codepen */
